.intro {

	.wrapper {
		padding-top: 120px;
		display: flex;
		align-items: center;
	}

	h2 {
		font-size: 20px;
		text-transform: uppercase;
	}

	> img {
		display: block;
		margin: 0 100px;
	}

	.services-container {
		padding-left: 30px;

		> .btn {
			margin-top: 50px;
		}
	}

	.btn {
		a {
			padding: 22px 25px;
		}
	}

	p {
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 2.2;
	}
}

.services-group {
	display: flex;
	justify-content: space-between;
}

.service-block {
	display: flex;
	justify-content: space-between;
	align-content: center;
	color: #141414;
	text-transform: uppercase;

	.service-icon {
		display: flex;
		width: 69px;
		height: 69px;
		border: 2px solid #D8D8D8;
		border-radius: 50%;
	}

	.service-name {
		display: flex;
		padding-left: 30px;

		div {
			margin: auto;
		}
	}

	img {
		display: block;
		margin: auto;
	}

	&:last-child {
		display: none;
	}
}

@media screen and (max-width: 940px) {
	.services-group {
		flex-wrap: wrap;
	}

	.intro .services-container > .btn {
		display: none;
	}

	.service-block:nth-child(n+3) {
		margin-top: 40px;
	}

	.service-block:last-child {
		display: block;
	}

	.service-block .btn a {
		letter-spacing: 4px;
		padding: 22px;
	}
}

@media (max-width: 767px) { 
	.wrapper > img {
		display: none;
	}

	.intro .services-container {
		padding: 0 15px;
	}

	.services-group {
		justify-content: space-around;
	}

	.service-block {
		justify-content: flex-start;
	}

	.service-block:nth-child(-n+3) {
		width: 233.78px;
	}
}

@media screen and (max-width: 574px) {
	.services-group {
		flex-direction: column;
		align-items: center;
	}

	.service-block:nth-child(n+2) {
		margin-top: 40px;
	}
}