// Fonts
$mainFont: 'Montserrat', sans-serif;
$accentFont: 'Crimson Text', serif;

// Text Colours
$boldText: #141414;
$normalText: #6F6F6F;
$footerHeading: #fff;
$footerAccent1: #E2A236;
$footerAccent2: #F6B138;
$footerTextLight: #5C5C5C;
$footerTextDark: #373737;
$socialIcon: #909090;

// Background Colours
$blogBg: #EAEAEA;
$formBg: #1C1C1C;
$footerBg: #202020;